body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header,
.footer {
    height: 70px;
}

.header,
.footer,
.hero {
    padding: 0 15vw;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-logo {
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
}

.header a:any-link {
    text-decoration: none;
}

.header a:active {
    color: #cfcfcf;
}

.header-links a:any-link,
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-text,
.hero-image {
    width: 35vw;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-primary-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-button {
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.hero-button,
.action-button {
    width: 100px;
}

.hero-image {
    background-color: grey;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.information p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 120px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-image {
    box-sizing: border-box;
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.card-text {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
}